<!--
Author: Denta Zamzam Yasin Muhajir
Create Date : Kestalan, 19/06/2018
-->
<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Jam Tangan, Cari Jam Tangan, Cari Jam Branded, Cari Jam Tangan Murah, 
Cari Jam Tangan Branded Murah, Denta Zamzam Yasin Muhajir, Denta Zamzam, Denta" />

<meta property="og:url" content="https://www.bukalapak.com/" />
<meta property="og:site_name" content="Bukalapak" />
<meta property="og:title" content="Situs Belanja Online dan Jual Beli Mudah Terpercaya" />
<meta property="og:description" content="Situs jual beli online terlengkap dari pulsa, tiket, mobil dan investasi. Belanja murah dan nyaman serta garansi 100% uang kembali." />


<meta content='https://s1.bukalapak.com/images/img_bnr/social_v3.jpg' property='og:image'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>

 
<!-- for FF, Chrome, Opera -->
<link rel="icon" type="image/png" href="/images/logo/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/images/logo/favicon-32x32.png" sizes="32x32">
<!-- //for-mobile-apps -->
<link href="{{ BASE_URL }}/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />


<link href="{{ BASE_URL }}/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{{ BASE_URL }}/css/fasthover.css" media="none" onload="if(media!=='all')media='all'" >
<link rel="stylesheet" href="{{ BASE_URL }}/css/animate.min.css" media="none" onload="if(media!=='all')media='all'" >
{# <link href="{{ BASE_URL }}/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
 #}
<link rel="stylesheet" href="{{ BASE_URL }}/css/nprogress.css" media="none" onload="if(media!=='all')media='all'" >
{# <link href="{{ BASE_URL }}/css/nprogress.css" rel="stylesheet" type="text/css" media="all" /> #}


<!-- js -->
<script src="{{ BASE_URL }}/js/jquery.min.js"></script>
<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    window.location.replace("https://carijamtangan.com/mobile");
}
</script>
<script defer src="{{ BASE_URL }}/js/nprogress.js"></script>
<!-- //js -->
<!-- cart -->
<script defer src="{{ BASE_URL }}/js/simpleCart.min.js"></script>

<!-- cart -->
<!-- for bootstrap working -->
<script defer type="text/javascript" src="{{ BASE_URL }}/js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" media="none" onload="if(media!=='all')media='all'" >
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Glegoo:400,700" media="none" onload="if(media!=='all')media='all'" >
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" media="none" onload="if(media!=='all')media='all'" > {# 
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  #}
<!-- start-smooth-scrolling -->
<script defer type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling -->
<script defer type="text/javascript"> //<![CDATA[ 
var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]>
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129050782-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129050782-1');
</script>


</head>
{% flush %}
 
<style>
blink {
    -webkit-animation: 1s linear infinite condemned_blink_effect; // for android
    animation: 2s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
</style>
	
<body>
{{ ob_start | raw }}


<!-- header -->	

{# {% include "template_womensfashion.snippets.modal-signin-register" %} #}

{% include "template_womensfashion.blocks.header" %}

{% include "template_womensfashion.blocks.nav" %}

<!-- //header -->

<!-- banner -->
{# 	 <div class="banner2" id="home1">
		<div class="container">
			<h2>Women sweaters<span>up to</span> Flat 40% <i>Discount</i></h2>
		</div>
	</div>  #}
<!-- //banner -->

<!-- breadcrumbs --> 

{# {% include "template_womensfashion.snippets.breadcrumb" %} #}


{# {% include "template_womensfashion.blocks.new-products" %}  #}
<!-- banner-bottom1 -->
 {# 
 	<div class="banner-bottom1">
		<div class="agileinfo_banner_bottom1_grids">
			<div class="col-md-7 agileinfo_banner_bottom1_grid_left">
				<h3>Grand Opening With Up To<span>50% <i>Discount</i></span></h3>
				<a href="{{ BASE_URL }}">Shop Now</a>
			</div>
			<div class="col-md-5 agileinfo_banner_bottom1_grid_right">

				<h3 style="margin-bottom: 4px;text-transform: uppercase;font-size: 2em;font-weight:900;color: #2776cc;background-color: RGBA(255,255,255,0.7);">COUPLE <span>WATCH</span></h3>

				<a href="{{ BASE_URL }}/brand/watch/couple"><h4 style="width:34%;font-weight: 900;background: #1c7adb;">Shop Now</h4></a>

 
			 
				
			</div>
			<div class="clearfix"> </div>
		</div>
	</div> 
  #}
 
<!-- //banner-bottom1 -->

<!-- //breadcrumbs -->


<!-- display banner -->


{# {% include "template_womensfashion.blocks.display-editor-choices" %} #}

<!-- //display banner -->


<!-- dresses -->
	<div class="dresses" style="padding:1em;">
		<div class="container">
			<div class="w3ls_dresses_grids">
				<div class="col-md-4 w3ls_dresses_grid_left">

					
					<!-- sidebar -->
					{# {% include "template_womensfashion.snippets.sidebar-other" %} #}

					{% include "template_womensfashion.snippets.sidebar-merch" %}

					{# {% include "template_womensfashion.snippets.sidebar-color" %} #}

					

					{# {% include "template_womensfashion.snippets.sidebar-banner" %} #}	

					<!-- //sidebar -->

				
				</div>
				<div class="col-md-8 w3ls_dresses_grid_right">


					<!-- content -->

					{% include "template_womensfashion.snippets.content-sort" %}

					{% include "template_womensfashion.blocks.content-product-random" %}

					

					<!-- //content -->

 
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	 
<!-- //dresses -->



<!-- top-brands -->
 

{% include "template_womensfashion.blocks.top-brands" %}

<!-- //top-brands -->


<!-- footer -->

{% include "template_womensfashion.blocks.footer" %}

<!-- //footer -->
<script>


$(document).ready(function() {
	
	function cartAnimation(x) {
    	$('#animation-cart').removeClass().addClass(x + ' animated delay-10s').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
      		$(this).removeClass();
  	  	});
 	};
	
	$('.item_add').on('click', function () {
		
		NProgress.start();				     
		var baseUrl = $(this).data('base');
		var price = $(this).data('price');
		var id  = $(this).data('id');
		var name = $(this).data('name');
		var picture = $(this).data('picture');  
		var temp;						        
		$.ajax({
			type: "GET",
			url: baseUrl + '/add/cart/'+price+'/'+id+'/'+name+'/'+picture,
			success: function( msg ) {
				if(msg!='add to cart'){
					NProgress.done();
					alert(msg);
					//window.history.pushState(null, null, baseUrl+"/home");
	            }
				else{
					$('html, body').animate({
       					scrollTop: $(".header").offset().top
 					}, 400);
					cartAnimation("lightSpeedIn");
					$(".total").load(" .total");						            
					//window.history.pushState(null, null, baseUrl+"/home");
					NProgress.done();
				}			
			}
		});  
	});

	$('.simpleCart_empty').on('click', function (e) {
		e.preventDefault();
		NProgress.start();
		var baseUrl = $('.base_url').val() ;                 
		$.ajax({
		    type : "GET",
		    url : baseUrl + '/cart/destroy/',
		    success: function() {
		        cartAnimation("zoomOutDown");
		        $(".total").load(" .total");
		        NProgress.done();
		    }
		});    
	});

	$(function () {
   	 	$(".agileinfo_new_products_grid_dresses").slice(0, 15).show();
     	$("#loadMore").on('click', function (e) {
        e.preventDefault();
        $(".agileinfo_new_products_grid_dresses:hidden").slice(0, 6).slideDown();
        if ($(".agileinfo_new_products_grid_dresses:hidden").length == 0) {
           	$("#loadMore").fadeOut('slow');
        }
     
    	});
	});

});

</script>


<script>
function init() {
	var imgDefer = document.getElementsByTagName('img');
	for (var i=0; i<imgDefer.length; i++) {
		if(imgDefer[i].getAttribute('data-src')) {
			imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
		}
	} 
}
window.onload = init;
</script>
 

 
 
</body>
</html>