	<div class="header" id="home1">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" >
					<div class="col-lg-4" style="{# border:1px dashed black; #}">
					 

						
						<div class="col-lg-4" style="height:60px;padding-top:9px;border-left:3px solid silver;{# border:1px dashed black #}">
							{# <img src="{{BASE_URL}}/images/logo/customer-services.jpg"> #}
							<h4><b>CUSTOMER</b></h4>
							<h4><b>SERVICES</b></h4>
						 
						</div>
						<div class="col-lg-8" style="{# border:1px dashed black #}">
						<div class="col-lg-12">
							<div class="row">
							
							<img src="{{BASE_URL}}/images/logo/whatsapp.png">
							<b>081 385 800 400</b>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="row">
							
							<img src="{{BASE_URL}}/images/logo/blackberry-messenger.png"> <b>PIN : JMTG24</b>
							</div>
					
						</div>

						</div>

						
					</div>


					 
					<div class="col-lg-4" style="">
							<div class="w3l_logo" ><a href="{{BASE_URL}}">
								<center><img src="{{BASE_URL}}/images/logo/carijamtangan.png" style="margin-top:-25px;"  ></center></a>
				{# <center><h1><a href="{{BASE_URL}}">CARI JAM COM<span>New Look & Move</span></a></h1></center> #}
			</div>

					</div>
					<div class="col-lg-4">

							<div class="cart box_1">
				<a href="{{BASE_URL}}/keranjang-belanja">
					<div id="animation-cart">
					<div class="total">
					<span class="simpleCart_totalHeader"><b>Rp {{ SUB_TOTAL_CART }}</b></span> (<span class="simpleCart_quantityd">{{ COUNT_ITEM_CART }}</span> items)</div>
					<img id="bagIcon"src="{{BASE_URL}}/images/bag.png" alt="" />
					</div>
				</a>
				<p><a onClick="emptyCart()" href="javascript:;" class="simpleCart_empty">Kosongkan Cart</a></p>
				<input type="hidden" class="base_url" value="{{BASE_URL}}" />
           
				<div class="clearfix"> </div>
			</div>	

					</div>

				</div>			
			</div>
		 
		</div>
	</div>

